.back_box{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(186, 215, 240, 0.705);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(169, 90, 90);
    display: flex;
    gap:5px;
}