@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap'); 

body{
  margin: 0;
  padding: 0;
  background-color: rgba(226, 160, 243, 0.64);
  font-family: Montserrat;
}
.main{ 
  height: 100vh;
  display: flex;
  justify-content: cetner;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}
.chat{
  background-color: rgb(225, 134, 248);
  margin: auto;
  border-radius: 20px;
  padding: 30px;
  min-height: 500px;
  height: 70vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


.list_mess{
  height: calc(100% - 60px);
  overflow-y: auto;
  margin-bottom: 20px;
  padding-inline: 10px;
}
.list_mess::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(225, 134, 248);
}

.list_mess::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(200, 45, 239);
}

.list_mess::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}
.chat_mess{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px 15px;
  margin-bottom: 10px;
}
.right_mess{
  align-items: flex-end;
  border-radius: 20px 20px 0px 20px;
  margin-left: 50px;

}
.left_mess{
  align-items: flex-start;
  border-radius: 20px 20px 20px 0px;
  margin-right: 50px;
}
.chat_mess span{
  color: rgb(204, 0, 255);
  font-weight: 500;
}



.inputs{
  height: 40px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.inputs .mess{
  padding: 15px;
  border-radius: 10px;
  outline: none;
  border: 0;
  font-size: 16px;
}
.inputs button{
  padding: 15px;
  border-radius: 10px;
  border: 0;
  font-size: 16px;
  background-color: white;
  border: 1px solid rgb(200, 45, 239);
}
.inputs i{
  font-size: 35px;
  color: rgb(100, 100, 100);
}

.inputs .name{
  padding: 15px;
  border-radius: 10px;
  outline: none;
  border: 0;
}